html{ -webkit-tap-hightlight-color:rgba(0,0,0,0); }
a,button,*{ -webkit-tap-highlight-color:rgba(0,0,0,0); /*-webkit-user-modify:read-write-plaintext-only;*/ -moz-user-select: none; -khtml-user-select: none; user-select: none; outline: none; }
*:focus{outline: none;}
.user-select-none{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

input, textarea{
    -webkit-appearance:none;
}

/*activity main*/
*{box-sizing: border-box;}
html,body{width:100%;height:100%; overflow: hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;}
.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
.page{width:100%;padding-top:49px;}
.page{width:100%;padding-top:49px;}
*/
/* preloader */
#preloader { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #e4e7ea; z-index: 10000;background-image: url(../images/bg.jpg); background-size: cover;background-repeat: no-repeat;background-position: center center;}
em.ws-club{display: block;
    position: absolute;left:50%;margin-left:-60px;top:40%;margin-top:-40px;width:120px;height:79px;background-image: url(../images/ws_club.png);background-repeat: no-repeat;background-position: center center;background-size: contain;}
#status {  position: absolute; left: 50%;margin-left:-70px;top: 40%;margin-top:65px;width: 133px; height: 17px; font-size: 32px;
    background-image: url(../images/loading_bg.png);background-repeat: no-repeat;background-position: center center;background-size: contain;}
#processing{  position: absolute; left:50%;margin-left:-60px;top: 50%;margin-top:-5px;width: 120px; height:10px;
    background-image: url(../images/loading_process.png);background-repeat: no-repeat;background-position:-120px 0;background-size:120px 10px; z-index:-1;
    -webkit-transition: background-position 1.2s ease-in-out;
    -moz-transition: background-position 1.2s ease-in-out;
    -ms-transition: background-position 1.2s ease-in-out;
    -o-transition: background-position 1.2s ease-in-out;
    transition: background-position 1.2s ease-in-out;}
#processing.active{background-position: 0 0;}

.ys-support{display: block;position: absolute;left:50%;margin-left:-112px;bottom:19px;width:224px;height:47px;
    background-image: url(../images/ys_support.png);background-repeat: no-repeat;background-position:center center;background-size:contain; }
.page{width:100%;height:100%;background-color: #000102;background-image: url(../images/bg.jpg);background-size: cover;background-repeat: no-repeat;background-position: center center;color:#fff;}

/*animation*/
.act-animation {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count:infinite;

    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -moz-animation-iteration-count:infinite;

    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    -ms-animation-iteration-count:infinite;

    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
}


/*items*/
.em-icon{display:inline-block;width:21px;height:21px;background-position: center center;background-repeat: no-repeat;background-size: cover;}

.slide-main{position: relative;padding:0;width:100%;height:100%;background-size: cover;background-repeat: no-repeat;background-position: center center;}
.slide-main .title{width:100%;padding-top:10px;height:63px;background-image: url(../images/head_bg.png);background-position: center bottom;background-repeat: no-repeat;background-size: contain;overflow: hidden;}
.slide-main .title h3{margin:0;height: 45px;line-height:45px;color:#fff;font-size: 22px;text-align: center;}
.slide-footer{ position:absolute; bottom:0px; margin-left:0; margin-right:0; height:80px; width:100%;
    background-position:center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.slide-footer em.ys-next{display: block;width:30px;height:50px;overflow: hidden;position: absolute;top:50%;margin-top:-25px;left:50%;margin-left:-15px;}
.slide-footer em.ys-next:after{position: absolute;width:30px;height:50px;background-image: url(../images/next.png);background-position:center 0px ;background-size:contain;background-repeat: no-repeat;content:" ";}
.ws-blue{color:#4f8ffb;}
.swiper-slide{}
.swiper-slide .em-bg{background-size: contain;background-repeat: no-repeat;background-position: center center;}

.swiper-slide ul{list-style: none;margin:0;padding:0;}

em,i,span,h1,h2,h3,h4,h5,h6{font-weight: normal;font-style: normal;}
/*#slide-main*/
#slide-main{}
#slide-main .main-ani{position: relative;margin-top:35px;width:100%;height:298px;text-align:center;}

#slide-main .main-ani div.invi-title{display: block;width:195px;height:103px;background-image: url(../images/invi_title.png);
    position: absolute;top:50%;left:50%;margin-top:-51.5px;margin-left:-97.5px;z-index:99;}

#slide-main .main-ani em.star{display: block;width:260px;height:269px;background-image: url(../images/star.png);
    position: absolute;bottom:0;left:50%;margin-left:-125px;z-index:199;}
/*
#slide-main .main-ani em.star.animated{display: block;}
*/
#slide-main .main-ani em.bg-tri{display: block;width:250px;height:216px;background-image: url(../images/tri.png);
    position: absolute;top:0;left:50%;margin-left:-125px;z-index:9;}
/*
#slide-main .main-ani em.bg-tri.animated{display: block;}
*/
#slide-main .main-ani .circle{display: block;width:237px;height:237px;background-image: url(../images/circle.png);
    position: absolute;top:50%;left:50%;margin-top:-118.5px;margin-left:-118.5px;z-index:19;}

#slide-main .invi-info{width:84%;margin:30px auto;color:#4f8ffb;}
#slide-main .invi-info>li{font-size: 13px;line-height:22px;padding-left: 75px;position: relative;}
#slide-main .invi-info>li>i{display: inline-block;height:22px;line-height: 22px;position: absolute;top:0;left:0;text-align:right;width:60px;}

/*#slide-sub-invitation*/
#slide-sub-invitation{}

#slide-sub-invitation .form-group{padding-top:29px;}
#slide-sub-invitation .input-group{position:relative;margin:0 auto;margin-bottom:15px;padding:12px;padding-left:70px;height:48px;width:260px;background-image: url(../images/input_bg.png);background-repeat: no-repeat;background-size: contain;background-position: center center;}
#slide-sub-invitation .submit-wrapper{margin:0 auto;margin-bottom:15px;padding:0;height:48px;width:260px;background-image: url(../images/submit_bg.png);background-repeat: no-repeat;background-size: contain;background-position: center center;}

#slide-sub-invitation .input-group>label{display: block;position:absolute;top:50%;margin-top:-12px;left:12px;height:24px;line-height: 24px;color:#4f8ffb;font-size: 13px;width:55px;}
#slide-sub-invitation .input-group>input,#slide-sub-invitation .input-group>select{float:left;padding:0;margin:0;width:100%;height:24px;line-height:24px;background: none;font-size: 13px;color:#4f8ffb;border:0;}
#slide-sub-invitation .input-group>select{background-color:rgba(0,0,0,0);appearance:none;-moz-appearance:none; /* Firefox */-webkit-appearance:none; /* Safari 和 Chrome */}
#slide-sub-invitation .input-group>select option{ -webkit-appearance:button;
    -moz-appearance:button;}
em.ys-select-icon{display: block;border-top:solid 10px #4f8ffb;border-left:solid 8px transparent;border-right:solid 8px transparent;position: absolute;right:16px;top:50%;margin-top:-4.5px;}

#slide-sub-invitation .submit-wrapper>a{display: block;height:48px;line-height: 48px;text-align: center;font-size: 16px;color:#fff;text-decoration: none;}
/*#slide-sub-about*/
#slide-sub-about{}
#slide-sub-about .slide-para{padding:20px 40px;}
#slide-sub-about .slide-para>p{margin-bottom:18px;line-height: 22px;font-size: 13px;color:#4f8ffb;text-align:justify;}
#ws-club-logo{display: block;width:120px;height:120px;margin:0 auto;background-image: url(../images/ws_club_logo.png);}


/*slide-sub-creator*/
#slide-sub-creator{}
#about-creator{margin-top:30px;}
#about-creator .creator{height:160px;padding-top:105px;margin-bottom:30px;position: relative;width:50%;float:left;}
#about-creator .creator h3{margin:0;font-size:16px;height:24px;line-height: 24px;margin-top:5px;text-align: center;}
#about-creator .creator h5{margin:0;font-size: 13px;color:#4f8ffb;height:22px;line-height: 22px;text-align: center;}
em.creator-figure{display: block; position: absolute;top:0;left:50%;margin-left:-50px;
   width:100px;height:100px;background-repeat:no-repeat;background-size: contain;background-position: center center;}

/*slide-sub-history*/
#slide-sub-history{}
#slide-sub-history .ws-club-history{padding:30px 20px;}
#slide-sub-history em.ws-history-intro{display: block;margin:0 auto;width:260px;height:163.5px;background-repeat:no-repeat;background-size: contain;background-position: center center;
    background-image: url(../images/ws_history.png);}
#slide-sub-history em.ws-team{display: block;margin:20px auto;width:260px;height:180px;background-repeat:no-repeat;background-size: contain;background-position: center center;
    background-image: url(../images/ws_team.png);}
/*slide-sub-speaker*/
#slide-sub-speaker{}
.about-speaker{padding:12px 15px;}
.speaker{float:left;position:relative;margin-bottom:3px;padding-top:80px;width:50%;/*height:130px;*/text-align:center;/*overflow: hidden;*/}
.speaker .speaker-figure{display: block;width:72px;height:72px;border-radius: 72px;position: absolute;left:50%;margin-left:-36px;top:2px;
    background-repeat:no-repeat;background-size: contain;background-position: center center;}
.speaker h3{margin:0;margin-top:0;font-size:14px;height:22px;line-height: 22px;text-align: center;}
.speaker h5{margin:0;font-size: 12px;color:#4f8ffb;/*height:18px;*/line-height: 18px;text-align: center;}
.speaker-title{width:100%;float:left;height:22px;}
.speaker-title h3{margin: 0;text-align: center;font-size: 14px;height:22px;line-height: 22px;}

#slide-sub-speaker-2{}
#slide-sub-speaker-2 .about-speaker{padding:20px 15px;}
#slide-sub-speaker-2 .speaker{padding-top:84px;margin-bottom:15px;height:130px;overflow: hidden;}
#slide-sub-speaker-2 .speaker .speaker-figure{top:5px;}
#slide-sub-flow{}
.meeting-flow{padding:65px 30px;position: relative;}
.meeting-flow>h3{position: absolute;margin:0;top:20px;left:0;height:24px;line-height: 24px;width:100%;font-size: 16px;text-align: center;}
#slide-sub-flow .time-line{position: absolute;top:65px;left:50%;margin-left:-28px;height:332.5px;width:56px;background-image: url(../images/time_line_1.png);
    background-repeat:no-repeat;background-size: contain;background-position: center center;z-index:9;}
.meeting-flow .flow-left{position:relative;width:50%;float:left;padding-right:30px;}
.meeting-flow .flow-left .flow-left-content{display: block;position: absolute;right:30px;width:100%;height:332.5px;
    background-repeat:no-repeat; }
.meeting-flow .flow-right{position:relative;width:50%;float:right;padding-left:30px;}
.meeting-flow .flow-right .flow-right-content{display: block;position: absolute;left:30px;width:100%;height:332.5px;
    background-repeat:no-repeat;}
#slide-sub-flow .flow-left-content{background-image: url(../images/flow_left_1.png);background-size: 99px 282.5px;background-position:right 24px; }
#slide-sub-flow .flow-right-content{background-image: url(../images/flow_right_1.png);background-size: 88px 166.5px;background-position: left 80px;}

#slide-sub-flow-2 .meeting-flow{padding:65px 30px;}
#slide-sub-flow-2 .time-line{position: absolute;top:65px;left:50%;margin-left:-28px;height:368.5px;width:56px;background-image: url(../images/time_line_2.png);
    background-repeat:no-repeat;background-size: contain;background-position: center center;z-index:9;}
#slide-sub-flow-2 .meeting-flow .flow-left{position:relative;width:50%;float:left;padding-right:30px;}
#slide-sub-flow-2 .meeting-flow .flow-left .flow-left-content{display: block;position: absolute;right:30px;width:100%;height:368.5px;
    background-repeat:no-repeat; }
#slide-sub-flow-2 .meeting-flow .flow-right{position:relative;width:50%;float:right;padding-left:30px;}
#slide-sub-flow-2 .meeting-flow .flow-right .flow-right-content{display: block;position: absolute;left:30px;width:100%;height:368.5px;
    background-repeat:no-repeat;
}
#slide-sub-flow-2 .flow-left-content{background-image: url(../images/flow_left_2.png);background-size: 99px 318.5px;background-position:right 24px; }
#slide-sub-flow-2 .flow-right-content{background-image: url(../images/flow_right_2.png);background-size: 110px 227.5px;background-position: left 70px;}

.meeting-flow>ul{list-style: none;margin:0;padding:0;}
.meeting-flow>ul>li{line-height:28px;color:#4f8ffb;padding-left:110px;position: relative;font-size: 13px;}
.meeting-flow>ul>li.meeting-title{padding-left:0;color:#fff;}
.meeting-flow>ul>li>i{display: inline-block;line-height: 28px;font-size: 13px;width:105px;position: absolute;left:0;top:0;}
a#meeting-flow-next{display: block;width:130px;height:30px;background-color:rgba(79,143,251,0.3);font-size: 12px;text-align: center;line-height: 30px;color:#4f8ffb;text-decoration: none;
    position: absolute;bottom:88px;left:50%;margin-left:-65px;}
a#meeting-flow-next:after{display: inline-block;position:absolute;border-top:solid 10px rgba(79,143,251,0.3);border-left:solid 10px transparent;border-right:solid 10px transparent;bottom:-10px;left:50%;margin-left:-10px;content: " ";}

#slide-sub-support{}
#slide-sub-support div.meeting-support{padding-left:30px;padding-right: 30px;}
#slide-sub-support div.meeting-support>div{position: relative;margin-top:20px;background-size:contain;background-repeat: no-repeat;background-position: center center;}
#slide-sub-support div.meeting-support>div.meeting-support-1{background-image: url(../images/support_1.png);height:56px;width:100%;}
#slide-sub-support div.meeting-support>div.meeting-support-2{background-image: url(../images/support_2.png);height:94px;width:100%;}
#slide-sub-support div.meeting-support>div.meeting-support-3{background-image: url(../images/support_3.png);height:129px;width:100%;}
#slide-sub-support div.meeting-support>div.meeting-support-4{background-image: url(../images/support_4.png);height:80px;width:100%;}
#slide-end{}
#slide-end .meeting-timing{padding:60px 30px;text-align: center;}
#slide-end .meeting-timing>h5{font-size: 13px;color:#4f8ffb;height:40px;line-height: 40px;text-align: center;margin:0;}

.timing-count{position: relative;height:210px;width:100%;overflow: hidden;}
.timing-count>em.outer-circle{display: block;position:absolute;top:50%;margin-top:-100px;left:50%;margin-left:-100px;width:200px;height:200px;background-image: url(../images/outer_circle.png);background-position: center center; background-repeat: no-repeat;background-size: contain;}
.timing-count>em.inner-circle{display: block;position:absolute;top:50%;margin-top:-89.5px;left:50%;margin-left:-89.5px;width:179px;height:179px;background-image: url(../images/inner_circle.png);background-position: center center; background-repeat: no-repeat;background-size: contain;}

.timing-count h1{position: absolute;top:50%;margin-top:-55px;left:50%;margin-left:-125px;width:250px;height:106px;line-height: 106px;text-align: center;color:#4f8ffb;font-size: 96px;}
.timing-count h1>em{position: absolute; font-size: 16px; margin-left: 6px; top: 20px;}
em.ws-logo{display: block;position: absolute;width:90px;height:60px;left:50%;margin-left:-45px;bottom:138px;background-image: url(../images/ws_logo.png);
background-repeat: no-repeat;background-size: contain;background-position: center center;}


.ui-loader { display: none; z-index: 9999999; position: fixed; top: 50%; left: 50%; border: 0; }
.ui-loader-default { background: none; filter: Alpha(Opacity=18); opacity: .18; width: 2.875em; height: 2.875em; margin-left: -1.4375em; margin-top: -1.4375em; }
.ui-loader .ui-icon-loading { background-color: #000; display: block; margin: 0; width: 2.75em; height: 2.75em; padding: .0625em; -webkit-border-radius: 2.25em; border-radius: 2.25em; }
.ui-icon-loading { background: url(../images/ajax-loader.gif); background-size: 2.875em 2.875em; }
.ui-loader-default h1 { font-size: 0; width: 0; height: 0; overflow: hidden; }

.modal-backdrop,.modal-backdrop-loading { display:none;position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1998; background-color: #000; opacity: 0;}
.modal-backdrop.fade,.modal-backdrop-loading.fade { opacity: 0; -webkit-transition: opacity .15s linear; -o-transition: opacity .15s linear; transition: opacity .15s linear;}
.modal-backdrop.show,.modal-backdrop-loading.show{ display:block;opacity: 0.5; }
@media screen and (max-width: 330px){
    #slide-main .main-ani { margin-top:6px;}
    #slide-main .invi-info{width:90%;}
    a#meeting-flow-next{display: none;}
    /*.slide-footer{display: none;}*/
    #slide-sub-support div.meeting-support>div{margin-top:15px;}
    #slide-sub-support div.meeting-support>div.meeting-support-1{background-image: url(../images/support_1.png);height:52px;width:100%;}
    #slide-sub-support div.meeting-support>div.meeting-support-2{background-image: url(../images/support_2.png);height:90px;width:100%;}
    #slide-sub-support div.meeting-support>div.meeting-support-3{background-image: url(../images/support_3.png);height:120px;width:100%;}
    #slide-sub-support div.meeting-support>div.meeting-support-4{background-image: url(../images/support_4.png);height:75px;width:100%;}
}

/*ani*/

@-webkit-keyframes
start{
    0%,30%{opacity:0;-webkit-transform:translate(0,10px)}
    60%{opacity:1;-webkit-transform:translate(0,0)}
    100%{opacity:0;-webkit-transform:translate(0,-8px)}
}
@-moz-keyframes
start{
    0%,30%{opacity:0;-moz-transform:translate(0,10px)}
    60%{opacity:1;-moz-transform:translate(0,0)}
    100%{opacity:0;-moz-transform:translate(0,-8px)}
}

@keyframes
start{
    0%,30%{opacity:0;transform:translate(0,10px)}
    60%{opacity:1;transform:translate(0,0)}
    100%{opacity:0;transform:translate(0,-8px)}
}

@-webkit-keyframes
rotation{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes
rotation{
    0%{-moz-transform:rotate(0deg);}
    50%{-moz-transform:rotate(180deg);}
    100%{-moz-transform:rotate(360deg);}
}

@keyframes
rotation{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(360deg);}
}

@-webkit-keyframes
rotationReverse{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(-180deg);}
    100%{-webkit-transform:rotate(-360deg);}
}
@-moz-keyframes
rotationReverse{
    0%{-moz-transform:rotate(0deg);}
    50%{-moz-transform:rotate(-180deg);}
    100%{-moz-transform:rotate(-360deg);}
}

@keyframes
rotationReverse{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(-180deg);}
    100%{transform:rotate(-360deg);}
}

.ys-next{
    -webkit-animation:start 1.5s infinite ease-in-out;
    -moz-animation: start 1.5s infinite ease-in-out;
    -o-animation:start 1.5s infinite ease-in-out;
    animation:start 1.5s infinite ease-in-out;
}

.ws-rotation{
    -webkit-animation:rotation 36s linear infinite;
    -moz-animation: rotation 36s linear infinite;
    -o-animation:rotation 36s linear infinite;
    animation:rotation 36s linear infinite;
}
.ws-rotation-reverse{
    -webkit-animation:rotationReverse 26s linear infinite;
    -moz-animation: rotationReverse 26s linear infinite;
    -o-animation:rotationReverse 26s linear infinite;
    animation:rotationReverse 26s linear infinite;
}
